.Fila_Videojuegos_Section {
    position: relative;
    border: 2px white solid;
    margin: 10px 30px;
    height: 15rem;
    z-index: 1;
    background-color: #000000ef
}

.Fila_Videojuegos_Section_Button {
    position: absolute;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    bottom: 40%;
    top: 40%;
    z-index: 2;
    width: 95rem;

}

.Fila_Videojuegos_Section_Button_Left {
    color: white;
    font-size: xx-large;
    background: transparent;
    height: 4rem;
    width: 2rem;
    border: 1px white solid;
    cursor: pointer;
}

.Fila_Videojuegos_Section_Button_Right {
    color: white;
    font-size: xx-large;
    background: transparent;
    height: 4rem;
    width: 2rem;
    border: 1px white solid;
    cursor: pointer;
}


.Fila_Videojuegos_Section_Button_Left:hover {
    transition: 100ms;
    background: grey;
}

.Fila_Videojuegos_Section_Button_Right:hover {
    transition: 100ms;
    background: grey;
}

.Fila_Videojuegos_Section_Button_Left:active {
    transition: 100ms;
    background: transparent;
}

.Fila_Videojuegos_Section_Button_Right:active {

    transition: 100ms;
    background: transparent;
}



.Fila_Videojuegos_Section_Title {
    position: absolute;
    transform: translateY(-38px);
    color: white;
}

.Fila_Videojuegos_Article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 15rem;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.Fila_Videojuegos_Videogame {
    position: relative;
    margin-left: 1.13rem;
    margin-right: 1.13rem;
    min-width: 10rem;
    height: 12.5rem;
}

.Fila_Videojuegos_Videogame:hover {
    transition: 200ms;
    transform: translateY(-5px);
    cursor: pointer;
}

.Fila_Videojuegos_Article_Content {
    background: linear-gradient(to bottom,
            black 0%,
            transparent 40%,
            transparent 60%,
            black 100%);
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    width: 160px;
    height: 200px;
}


.Fila_Videojuegos_Article_Img {
    width: 10rem;
    height: 12.5rem;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}


.Fila_Videojuegos_Article_Title {
    width: 10rem;
    height: 12.5rem;
}