footer {
    background: linear-gradient(to top,
            #124996 10%,
            #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 2px white solid;
}

.Footer_Title {
    color: white;
    padding-top: 2rem;
}

.Footer_Contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80rem;
    gap: 3rem;
}

.Footer_Link_Img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 10rem;
    height: 6rem;
    gap: 1rem;
}

.Footer_Link_Img:hover {
    transition: 200ms;
    color: #ffffff9c;
    filter: opacity(0.5);
}

.Footer_Contacts_Logo {
    width: 3em;
}


.Footer_Copyright {
    color: white;
    font-size: larger;
    font-weight: 200;
    padding-bottom: 2rem;
}