footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    gap: 2rem;
}
.Footer_Title{

}

.Footer_Contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50rem;
    gap: 1rem;
}

.Footer_Copyright{
    font-size: larger;
    font-weight: 200;
    text-align: center;
    padding-bottom: 2rem;
}