header {
    background: linear-gradient(to bottom,
        #0d3a7a 10%,  
        #1E1B4B 100% 
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px;
    border-bottom: 2px solid;
    box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

.Link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Link:hover{
    transition: 200ms;
    color: #9D4EDD;
}

.Link::after{
    
}

.Header_Title {
    font-weight: 500;
    color: white;
}

.Header_Search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 30px;

}

.Header_Search_Form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Header_SearchBar {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    outline: 1px solid rgba(80, 80, 80, 0.582);
    
}

.Header_SearchBar:focus {
    outline: 1px solid black;
}

input {
    padding-left: 5px;
}



.Header_Button {}

.Header_Nav {}

.Header_UlNav {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.Header_Link {
    list-style: none;
}

