header {
    background: linear-gradient(to bottom,
            #0d3a7a 10%,
            #000000 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px;
    border-bottom: 2px white solid;
    box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

.Link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Link:hover {
    transition: 200ms;
    color: #ffffff9c;
}

.Header_Title {
    font-weight: 500;
    color: white;
}

.Header_Search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 30px;

}

.Header_Search_Form {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Header_SearchBar {
    background: rgba(167, 167, 167, 0.212);
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    outline: 1px solid rgb(255, 255, 255);
    padding-left: 5px;
    color: white;
}

.Header_SearchBar:focus {
    outline: 1px solid #ffffff9c;
}


.Header_Button_Form {
    filter: invert(1);
    background: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    cursor: pointer;
}

.Header_Button_Form:hover {
    transition: 200ms;
    filter: invert(1) opacity(0.5);
}

.Header_UlNav {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.Header_Link {
    list-style: none;
}