.Videojuego_Card_Div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Videojuego_Card_Section {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 10px 30px black;
    margin: 2rem;
    border-radius: 10px;
}

.Videojuego_Card_Buttons {
    position: absolute;
    transform: translateX(59.57rem) translateY(0rem);
}

.Videojuego_Card_Button1_Off {
    border: none;
    height: 4rem;
    padding: 1rem;
    width: 12rem;
}

.Videojuego_Card_Button1_On {
    border: none;
    height: 4rem;
    padding: 1rem;
    width: 12rem;
}

.Videojuego_Card_Button2_Off {
    border: none;
    height: 4rem;
    padding: 1rem;
    border-top-right-radius: 10px;
}

.Videojuego_Card_Button2_On {
    border: none;
    height: 4rem;
    padding: 1rem;
    width: 8.47rem;
    border-top-right-radius: 10px;
}



.Videojuego_Card_Videogame_Title {
    font-size: xx-large;
    margin: 1rem;
}

.Videojuego_Card_Content {
    display: flex;
    flex-direction: column;
    width: 80rem;
    height: 45rem;
}

.Videojuego_Card_Img_Trailer {
    display: flex;
    flex-direction: row;
}

.Videojuego_Card_Img {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
}

.Videojuego_Card_Trailer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding-left: 5rem;
}

.Videojuego_Card_Trailer_Title {
    position: absolute;
    transform: translateY(-3.8rem) translateX(15rem);
    font-size: xx-large;
}

.Videojuego_Card_Stars_Text {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.Videojuego_Card_SecText {
    display: grid;
    grid-template-columns: 50% 100%;
    gap: 0.5rem;
}

.Videojuego_Card_DivText {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Videojuego_Card_Stars {
    position: absolute;
    transform: translateY(-1rem);
}