.Videojuego_Crud_Div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Videojuego_Crud_Section{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 10px 30px black;
    margin: 5rem;
    border-radius: 10px;
}

.Videojuego_Crud_Title{
    font-size: xx-large;
}

.Videojuego_Crud_Content{
    display: flex;
}

.Videojuego_Crud_Img{
    width: auto;
    height: 30rem;
    border-bottom-left-radius: 10px;
}