.Buscar_Main {
    display: flex;
    justify-content: left;
    padding-bottom: 3rem;
}

.Buscar_Container {
    width: 15%;
}

.Buscar_Results {
    width: 100%;
    height: auto;

}

.Buscar_List {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13%;
    gap: 1rem;
}

.Buscar_Item {
    display: flex;
    flex-direction:  column;
    background-color: var(--Background-Color);
    gap: 1rem;
    height: 15rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: black;
    
}

.Buscar_Item_Info{
    display: flex;
    flex-direction: column;

}

.Buscar_Item_Title{
    text-align: center;
}


.Buscar_Item_Img {
    object-fit: cover;
    width: 100%;
    height: 45%;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}