.Buscar_Main {
    display: flex;
    justify-content: left;
    position: relative;
    color: white;
}

.Buscar_Container {
    width: 15%;
    border-right: 2px white solid;
    padding-top: 2rem;
    width: 22rem;
}

.Buscar_Results {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.Buscar_Results_Title{
    font-size: x-large;
    text-align: center;
}

.Buscar_Results_Text{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.Buscar_List {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    gap: 1rem;
}

.Buscar_Item {
    background: rgba(0, 0, 0, 0.671);
    display: flex;
    flex-direction:  column;
    gap: 1rem;
    height: 18rem;
    border-radius: 0.2rem;
    text-decoration: none;
    padding: 1rem;
    border: 2px white solid;
}

.Buscar_Item:hover{
    transform: translateY(-0.5rem);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    transition: 100ms;
}

.Buscar_Item_Info{
    display: flex;
    flex-direction: column;
    color: white;

}

.Buscar_Item_Title{
    text-align: center;
}


.Buscar_Item_Img {
    object-fit: cover;
    width: 100%;
    height: 45%;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border: 2px rgba(255, 255, 255, 0.541) solid;
}