.Crud_Videojuegos_Div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 1;
    color: white;
}

.Crud_Videojuegos_Title {
    font-size: 5rem;
    padding-top: 3rem;
}

.Crud_Videojuegos_Form {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 5rem;
    height: 35rem;
    width: 65rem;
    border: 2px white solid;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.068);
    padding-top: 1rem;
}

.Crud_Videojuegos_Form_Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Crud_Videojuegos_Label {
    padding-bottom: 0.5rem;
}

.Crud_Videojuegos_Input {
    width: 12rem;
    height: 2rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.123);
    color: white;
}

.Crud_Videojuegos_Input:focus{
    outline: 1px solid #ffffff9c;
}

.Crud_Videojuegos_Input_Select {
    width: 12rem;
    height: 2rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.123);
    color: white;
}

.Crud_Videojuegos_Input_Select:focus {
    color: black;
}

.Crud_Videojuegos_Form_TextArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/4;
    transform: translateY(-2rem);
}

.Crud_Videojuegos_TextArea{
    min-width: 50rem;
    min-height: 10rem;
    max-width: 50rem;
    max-height: 10rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.123);
    color: white;
}

.Crud_Videojuegos_TextArea:focus{
    outline: 1px solid #ffffff9c;
}

.Crud_Videojuegos_Buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Crud_Videojuegos_Edit{
    background: transparent;
    border-radius: 5px;
    align-items: center;
    width: 10rem;
    height: 2rem;
    font-size: 20px;
    border: 2px white solid;
    color: white;
}

.Crud_Videojuegos_Edit:hover {
    transition: 200ms;
    background: rgba(255, 255, 255, 0.411);
    cursor: pointer;
}

.Crud_Videojuegos_Edit:active {
    transition: 200ms;
    background: transparent;
}

.Crud_Videojuegos_Button_Create {
    background: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2rem;
    font-size: larger;
    border: 2px white solid;
    color: white;
    transform: translateY(-5rem);
}

.Crud_Videojuegos_Button_Create:hover {
    transition: 200ms;
    background: rgba(255, 255, 255, 0.411);
    cursor: pointer;
}

.Crud_Videojuegos_Button_Create:active {
    transition: 200ms;
    background: transparent;
}

.videojuego{
    padding: 10px;
    font-size: 18px;
}

#tsparticles {
    position: fixed;
    z-index: -1;
}

.Crud_Videojuegos_List {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px white solid;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.068);
    width: 106.25rem;
    margin-bottom: 2rem;
}

.Crud_Videojuegos_List_Title {
    text-align: center;
    padding-bottom: 1rem;
}

.Crud_Videojuegos_Resena_Div{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-top: 2px white solid;
    padding: 10px;
    font-size: 18px;
}

.Crud_Videojuegos_Buttons_Div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

