main {
    z-index: 20;
    background-color: rgb(95, 112, 73);
}

.Home_Introduce {
    background: linear-gradient(to bottom,
            rgb(12, 87, 184) 50%,
            rgb(2, 20, 78) 100%);
    display: flex;
    align-items: center;
    width: 100%;
    height: 10rem;
    box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.08);
    border-bottom: 2px solid;
}

.Home_Title {
    color: white;
    font-size: 8rem;
    padding-left: 6rem;
}
.Home_Games {
    background: linear-gradient(to bottom,
            rgb(209, 207, 207));
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: 4rem;
    width: 90rem;
    height: 70rem;
    z-index: 0;
    box-shadow:20px 20px 5px rgba(0, 0, 0, 0.08);
}

.Cargando{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    font-size: 5rem;
}

