.Buscar_Main {
    display: flex;
    justify-content: left;
}

.Buscar_Container {}

.Buscar_Results {
    display: flex;
    width: 100%;

}

.Buscar_List {
    display: flex;
    flex-direction: column;
}

.Buscar_Item {
    display: flex;
    flex-direction: row;
    background-color: var(--Background-Color);
    gap: 1rem;
    width: 55rem;
    height: 10rem;
}


.Buscar_Item_Img {
    width: 30rem;
    height: auto;
}