main {
    z-index: 20;
    background-color: aqua;
}

.Home_Introduce {
    background: linear-gradient(to bottom,
            rgb(219, 137, 13) 40%,
            rgba(189, 196, 87, 0.61) 100%,
            rgba(0, 0, 0, 0.356) 120%);
    ;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20rem;
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.08);
    border-bottom: 2px solid;
}

.Home_Title {
    font-size: 8rem;
    padding-left: 6rem;
}
.Home_Games {
    background: linear-gradient(to bottom,
            rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: 4rem;
    width: 90rem;
    height: 70rem;
    z-index: 0;

}

