main {
    background-color: var(--Background-Color);
}

.Home_Introduce {
    background-color: var(--Background-Color-Secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50rem;
    padding: 10rem;
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.08);
    border-bottom: 2px solid;
}

.Home_Title {
    font-size: 100px;
    width: 750px;
}

.Home_Text {
    width: 700px;
}

.Home_Games {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.Home_Section {
    position: relative;
    border: 2px solid;
    padding: 10px;

}

.Home_Section_Title {
    position: absolute;
    transform: translateY(-38px);
}

.Home_Article {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    width: 160px;
    height: 200px;
}

.Videogame {
    position: relative;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 200px;
    cursor: pointer;
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.08);
}

.Videogame:hover {
    transform: translateY(-5px);
}

.Home_Article_Img {
    width: 160px;
    height: 200px;
}

.Home_Article_Title {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: white;
    background: linear-gradient(
    to bottom,
    black 0%,          
    transparent 40%,   
    transparent 60%,   
    black 100%         
  );
    width: 100%;
    height: 200px;
    z-index: 2;

}