header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Header-Color);
    position: relative;
    width: 100%;
    padding: 30px;
    border-bottom: 2px solid;
    box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.08);
}

.Link {
    color: black;
    text-decoration: none;
}

.Header_Title {
    font-weight: 500;
}

.Header_Search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 30px;

}

.Header_SearchBar {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
}

input {
    padding-left: 5px;
}

.Header_SearchBar:focus {
    outline: none;
}

.Header_Button {}

.Header_Nav {}

.Header_UlNav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.Header_Link {
    list-style: none;
}