:root {
    --Font-Type: "DM Sans", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--Font-Type);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}